@import url('https://fonts.cdnfonts.com/css/product-sans');

html { 
    font-family: 'Product Sans', sans-serif;
}

body {
    color: white;
    min-height: 97vh;
    background: url(../../assets/images/theme.webp) no-repeat center center fixed; 
    background-color: #222933;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}